@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	font-size: $_fontSize;
	color: $_bleumarin;
}

#root {
	width: 100%;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0 0 $_gutter;
}

p {
	margin: 0;
}

*:disabled {
	@include disabled;
}

button {

	background-color: $_azure;
	color: $_white;
	border: none;
	cursor: pointer;
	font-size: $_fontSize;
	border-radius: $_radius-small;
	padding: $_gutter-small;
	box-shadow: $_buttonShadow;
	font-family: 'Roboto', sans-serif;

	&:not(:disabled) {

		&:hover {
			background-color: $_azure-hover;
		}

		&:active {
			background-color: $_azure-hover;
		}

	}

}

form {
	margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	height: $_lineHeight;
}

h2 {
	margin: 0;
}
