@mixin disabled {
	opacity: 0.5;
}

@mixin smallScreen {
	@media (max-width: #{$_smallScreenMaxWidth}), (max-height: #{$_smallScreenMaxHeight}) {
		@content;
	}
}

@mixin bigScreen {
	@media (min-width: #{$_contentMaxWidth}) {
		@content;
	}
}

@mixin contentContainer {

	width: 100%;
	margin: auto;

	@include bigScreen {
		max-width: $_contentMaxWidth;
	}

}
