$_contentMaxWidth: 1200px;

$_smallScreenMaxWidth: 500px;
$_smallScreenMaxHeight: 550px;

$_gutter: 20px;
$_gutter-small: 10px;
$_gutter-tiny: 5px;

$_fontSize-small: 12px;
$_fontSize: 16px;
$_fontSize-medium: 24px;
$_fontSize-large: 32px;
$_fontSize-huge: 64px;

$_lineHeight: 32px;

$_navBar-height: 10vh;
$_navBar-totalHeight: calc(#{$_navBar-height} + #{$_gutter});

$_radius: 10px;
$_radius-small: 5px;

$_transitionTiming: 0.3s;

$_white: #f9f9fa;

$_black: #19191d;
$_black-almostTransparent: rgba(0, 0, 0, 0.1);

$_lightGrey: #dedee0;

$_bleumarin: #111637;

$_azure: #2d7af1;
$_azure-hover: #1861d1;

$_amber: #f7bf53;

$_shadow: 0 0 3px 0 $_black-almostTransparent;
$_buttonShadow: 0 1px 3px 0 $_black;
