.customers {

	&WhatWhere,
	&Contact,
	&Submit {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&Rating {

		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: $_gutter;
		border-radius: $_radius;

		h2 {
			margin: auto auto $_gutter;
		}

		p {
			margin: auto;
			font-size: $_fontSize-large;
		}

	}

}
