.formInput {

	display: flex;
	flex-direction: column;
	position: relative;

	&__labelContent {
		display: flex;
	}

	&__label {
		margin: 0 0 $_gutter-tiny 0;
		display: flex;
	}

	&__required {
		color: $_amber;
		margin: 0 0 0 $_gutter-tiny;
	}

	.suggestionList {
		position: absolute;
		top: 100%;
	}

}
