$navBar-logoPadding: $_gutter;
$navBar-maxLogoHeight: calc(#{$_navBar-height} - (#{$navBar-logoPadding} * 2));

.navBar {

	height: $_navBar-height;
	min-height: 50px;
	box-shadow: $_shadow;
	display: flex;
	margin: 0 0 $_gutter;

	ul {
		height: 100%;
		display: flex;
		@include contentContainer;
	}

	li {
		margin: auto $_gutter auto 0;
		max-height: 100%;
		display: flex;

		@include smallScreen {
			margin: auto $_gutter-small auto 0;
		}

	}

	a {

		text-decoration: none;
		color: $_azure;
		font-weight: bold;
		font-size: 3vmin;

		&.navBar--activePage {
			color: $_bleumarin;
		}

	}

	&__logo {

		height: 100%;

		a {

			padding: $navBar-logoPadding;
			display: flex;

			@include smallScreen {
				padding: $_gutter-tiny;
			}

		}

		img {
			max-height: $navBar-maxLogoHeight;
			max-width: 100%;
			margin: auto;
		}

	}

}
