.suggestionList {

	background-color: $_white;
	box-shadow: $_shadow;

	li {

		cursor: pointer;
		margin: 0;
		line-height: $_lineHeight;
		padding: 0 $_gutter-small;

		&:hover {
			background-color: $_azure-hover;
		}

	}

}
